<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title>URL Shortener - Gatherly</title>
    </head>
    <body">
        <div class="container">
                <h1 class="title">URL Shortener - Gatherly</h1>  
                <!-- Displays error sent from api  -->
                <% if (locals.error) { %>
                <p class="error"><%= error %></p>
                <% } %>
                <form action="/" method="POST">
                <label class="label">NOTE:</label>
                <label class="bold-text"> Enter full URL (Ex: https://google.com)</label>
                <input type="url" name="url" id="url" placeholder="Enter URL" />
                <button type="submit" class="btn">Shorten</button>
                </form>
                <div class="shorten-url">
                    <!-- Displays shorten URL Created after submit is triggered -->
                    <% if (locals.shortenUrl) { %>
                    <label class="bold-text">Original URL: </label> <input type="text" id="originalUrl" disabled="disabled" value=" <%= originalUrl  %>">
                    <br />
                    <br />
                    <label class="bold-text">Shortened URL: </label><a href="http://<%= shortenUrl %>" target="_blank"> <%= shortenUrl  %> </a>
                    <% } %>
                </div>
        </div>
    </body>
</html>